@page "/relatorio"

<PageTitle>Calendario</PageTitle>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas Aguiar</title>
    <link rel="shortcut icon" href="imagem_2025-09-01_081316418-removebg-preview.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    É tanto dinheiro que o programa travou e não faz mais relatorios

</body>
</html>
