<div class="sidebar">
    <img src="Logo_BarbeariaLucasAguiar.png" alt="Logo" />

    <NavLink href="" Match="NavLinkMatch.All">🏠</NavLink>
    <NavLink href="calendario">📅</NavLink>
    <NavLink href="relatorio">📄</NavLink>
    <NavLink href="venda">✂️</NavLink>
    <NavLink href="clientes">👥</NavLink>
    <NavLink href="loja">🛒</NavLink>
    <NavLink href="cadastrar-cliente">🛒</NavLink>

</div>
